/* ************** Stylisation de la page Login ************** */
.login{
	background-image: url('../img/fond.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	margin: 0 auto;
	padding: 0;
}

.connect{
    	background: rgba(51, 51, 51, 0.85);
    	position: absolute;
    	left:32.5%;
    	top:25%;
	width: 35%;
	padding: 4em 2.5em;
}
.connect input{
	margin-bottom: 2em;
}
.connect i{
	color:#b72d2d;
}
.connect button{
 	position: absolute;
    	display: block;
    	bottom: 9%;
    	left: 33.3%;
}

/* ************** Stylisation de la page Admin ************** */