/* ************** Stylisation de la page Login ************** */
input:-webkit-autofill{background-color:transparent;}
.login{
	background-image: url('../img/fond.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	margin: 0 auto;
	padding: 0;
}

.connect{
	background: rgba(51, 51, 51, 0.85);
	position: absolute;
	left:32.5%;
	top:25%;
	width: 35%;
	padding: 4em 2.5em;
}
.connect input{
	margin-bottom: 2em;
}
.connect i{
	color:#b72d2d;
}
.connect button{
 	position: absolute;
    	display: block;
    	bottom: 9%;
    	left: 33.3%;
}

.deco:hover,
.deco:active{
    background: rgba(183, 45, 45, 0.61)!important;
}

input{
    color: #FFF!important;
}

.bg {
    -webkit-filter: blur(15px);
    filter: blur(15px);
    transform: scale(1.1);
}

.side-nav li a{
    text-transform: uppercase;
    font-size: 0.85rem;
}

.connect{
    margin-top: -5rem;
}

img.logo {
    display: block;
    margin: -10% auto -6%;
    width: 14rem;
}
.preview {
    margin-left: 22%;
}
section#home {
    text-align: center;
}
#home .card-content input {
    color: #2E2E2E!important;
    width: 90%;
}
/* ************** Stylisation de la page Admin ************** */